@page
@model shop_server.Pages.Products.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактировать</h1>

<h4>Товар</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.ID" />
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Rating" class="control-label"></label>
                <input asp-for="Product.Rating" class="form-control" />
                <span asp-validation-for="Product.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryId" class="control-label"></label>
                <select asp-for="Product.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <input asp-for="uploadedFile" type="file" name="uploadedFile" /><br>
            <div class="form-group mt-3">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
            <label>Удалить изображения</label>
            <input type="checkbox" asp-for="DeleteImages" />
            <input hidden asp-for="Product.HasImage" />
        </form>
    </div>
    <div class="col-md-4">
        <h4>Загруженные изображения</h4>
        @if (Model.Product.HasImage)
        {
            <img src="@ViewData["imageSmall"]" />
            <img src="@ViewData["imageBig"]" />
        }
     
    </div>
</div>

<div>
    <a asp-page="./Index">Назад к списку</a>
</div>

